NODE_ENV=development
PORT=4000
CLIENT_URL=http://localhost:3000
ADMIN_URL=http://localhost:3001
DATABASE_URL=
JWT_SECRET=
TELEGRAM_BOT_TOKEN=
TELEGRAM_ADMIN_CHAT_ID=
BANK_ACCOUNT_NUMBER=
BANK_ACCOUNT_NAME=
BANK_CODE=

